$bgcolor1:#51C4D3;
$bgcolor2:#D8E3E7;
$bgcolor3:#126E82;
$bgcolor4:#7fcec5;
$bgcolor5:#000000;
$bgcolor6:#cee5d0;
$bgcolor7:#132C33;
$bgcolor8:#14557b;
$color1:#02045f;
$color2:#ffffff;
$color3:#150E56;