
.loginCuatro{
    padding-left: 35%;
        padding-right: 35%;
        padding-bottom: 5%;
.loginUno{
    width: auto;
    height: 15em;
    border: solid 1px ;
    h2{
        text-align: center;
    }
    .loginTres{
    .loginDos{
        display: flex;
        flex-direction: column;
        padding: .5em;
        padding-bottom: 5%;
        
        text-align: center;
    }
    }
}
}
